 .u-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  .u-center-text {
    text-align: center;
  }

  .u-left {
    float: left;
    padding: 0 2rem 2rem 0;
  }

  .u-right {
    float: right;
    padding: 0 0 2rem 2rem;
  }

  .u-container {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 5vw;
  }
